<body class="">
  <h1 class="ui center aligned medium icon header">
  <i class="comment green outline icon"></i>
  <span class="app-title">Speak Easy</span>
</h1>

 
  <div class="ui fluid card chatbox ">
      <div class="content feeder">
        <div class="ui feed" >
          <div class="event" >
            <div class="content " id="scroller" >
              <div class="summary " >
                <div class="ui cards">
                  <div id="message-container " class="card"%> 
                    <%= render @messages %>
                  </div>
                </div>
              </div>
            </div>
         </div> 
        
      
    <div class="extra content">
    <%= form_for(@message, html: {class: "ui reply form", role: "form" }, url: message_path, remote: true) do |f| %> 
      
        <div class="field">
          <div class="ui fluid icon input">
            <%= f.text_field :body, placeholder: "Enter a message..." %>
            <%= f.button '<i class="bordered inverted green edit icon"></i>'.html_safe %>
             
          </div>
        </div>
      <% end %>
    </div>
    </div>
    <!--<div class="four wide column info-box"> -->
      <div class="ui fluid raised card chatbox">
        <div class="content ">
          <div class="ui vertical menu ">
            <a class="item summary">
              Messages: <span class="counter"><%= @messages.count %></span>
            </a>
            <a class="item summary">
              Friends: <span class="counter"><%= @users.count %></span>
            </a>
          </div>
        </div >
      </div >
    </div>
  <!-- </div> -->
  </div>
</body>